flows/ex3solution.json
[{"id":"5963137f.3de314","type":"tab","label":"EX3: Notificationbutton","disabled":false,"info":""},{"id":"132bccfa.d5dc8b","type":"debug","z":"5963137f.3de314","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":180,"wires":[]},{"id":"b1f4f1f3.e5146","type":"switch","z":"5963137f.3de314","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"rx","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":255,"y":140,"wires":[["f0e47af9.c142c8"]],"l":false},{"id":"f0e47af9.c142c8","type":"switch","z":"5963137f.3de314","name":"","property":"payload.EUI","propertyType":"msg","rules":[{"t":"eq","v":"7BDF717DCF900E52","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":315,"y":140,"wires":[["424a87c1.270b88"]],"l":false},{"id":"424a87c1.270b88","type":"function","z":"5963137f.3de314","name":"feedback aggregation","func":"if(!context.voting){\n    context.voting = {\n        evoli: 0,\n        schiggy: 0,\n        glumanda: 0,\n        bisasam: 0,\n        pikachu: 0,\n        relaxo: 0\n    }\n}\nlet vote = parseInt(msg.payload.data, 16)\nvote -= 1\n\nlet keys = Object.keys(context.voting)\nmsg.pokemon = keys[vote]\n\ncontext.voting[keys[vote]] += 1\n\nmsg.payload = context.voting\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["cfcea0b5.05f498","52ec7f41.e010a8"]]},{"id":"cfcea0b5.05f498","type":"function","z":"5963137f.3de314","name":"pie chart formatting","func":"let series = []\nlet data = [[]]\nlet labels = Object.keys(msg.payload)\n\nlet i\nfor(i in labels){\n    data[0].push(msg.payload[labels[i]])\n}\n\nmsg.payload = [{\n    series: series,\n    data: data,\n    labels: labels\n}]\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["2bef65e4.873432","132bccfa.d5dc8b"]]},{"id":"2bef65e4.873432","type":"ui_chart","z":"5963137f.3de314","name":"pokemon pie","group":"667cb617.363c7","order":1,"width":0,"height":0,"label":"Favorite Pokemon","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Fetching Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#b46969","#0080ff","#ff7f0e","#2ca02c","#ffff00","#008080","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":340,"wires":[[]]},{"id":"c71ceddc.6184b","type":"inject","z":"5963137f.3de314","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":670,"y":360,"wires":[["2bef65e4.873432"]]},{"id":"52ec7f41.e010a8","type":"change","z":"5963137f.3de314","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pokemon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":675,"y":260,"wires":[["6339bc93.901b7c"]],"l":false},{"id":"6339bc93.901b7c","type":"ui_audio","z":"5963137f.3de314","name":"pokemon voice","group":"667cb617.363c7","voice":"en-US","always":true,"x":900,"y":260,"wires":[]},{"id":"cde6d7b3.f456e8","type":"mqtt in","z":"5963137f.3de314","name":"","topic":"IWS","qos":"2","datatype":"json","broker":"d0d57de8.c4d19","x":110,"y":140,"wires":[["a5460211.d63fb8","132bccfa.d5dc8b"]]},{"id":"a5460211.d63fb8","type":"json","z":"5963137f.3de314","name":"","property":"payload","action":"obj","pretty":false,"x":195,"y":140,"wires":[["b1f4f1f3.e5146","132bccfa.d5dc8b"]],"l":false},{"id":"667cb617.363c7","type":"ui_group","z":"","name":"Feedback Button","tab":"e5d6adac.5a03","disp":true,"width":"6","collapse":false},{"id":"d0d57de8.c4d19","type":"mqtt-broker","z":"","name":"","broker":"34.89.240.62","port":"1879","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e5d6adac.5a03","type":"ui_tab","z":"","name":"Pokemon","icon":"dashboard","disabled":false,"hidden":false}]